doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title アンケート
  body
    h1 どちらが食べたいですか？
    form(method="post" action=path)
      span 名前:
      input(type="text", name="name")
      input(type="radio", name="favorite" value=firstItem)
      span #{firstItem}
      input(type="radio", name="favorite" value=secondItem)    
      span #{secondItem}
      button(type="submit") 投稿